<tr>
    <td>{{first_name}} {{last_name}}</td>
    <td>{{id}}</td>
    <td>{{format_date player_birthdate}}</td>
    <td>{{player_number}}</td>
    <td>{{position}}</td>
    <td>{{player_notes}}</td>
</tr>