
<style>
  
  body {
    font-family: sans-serif;
  
  }
  table,
  th,
  td {
    border: 20px black;
    border-collapse: collapse;
    padding: 40px;
  }
  table {
    margin-left: auto;
    margin-right: auto;
  }
  tr:nth-child(even) {
    background-color: #90d9e8;
  }
  th {
    background-color: darkgray;
    color: white;
  }
</style>
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4" id="team_id" data-team-id={{id}}>{{teamName}} Record</h1>
      <p>{{teamWins}} Wins {{teamLosses}} Loses</p>
    </div>
  </div>
  <nav>
    <div class="container-fluid row justify-content-center m-3">
      <button type="button" class="btn btn-primary m-1 col-4 col-lg-2" data-bs-toggle="modal" data-bs-target="#createeventmodal">
        Create Event
      </button>

      <button type="button" class="btn btn-primary m-1 col-4 col-lg-2" data-bs-toggle="modal" data-bs-target="#createplayermodal">
        Create Player
      </button>

      <a class="btn btn-primary m-1 col-4 col-lg-2" href="/team/{{id}}/export" role="button">Export Team to Excel</a>
      <a class="btn btn-primary m-1 col-4 col-lg-2" href="/homepage" role="button">Return to homepage</a>
    </div>
  </nav>
 
  <div class="container-fluid row justify-content-center">
    <div class="table-content col-8 col-lg-6">
      <table
        class="table table-borded table-responsive table-striped"
        id="table-list"
      >
        <thead class="table-dark">
          <tr>
            <td>Name</td>
            <td>Player ID</td>
            <td>Birth Date</td>
            <td>Player #</td>
            <td>Position</td>
            <td>Player Notes</td>
          </tr>
        </thead>
        <tbody>
          {{#each players as |player|}}
          {{> player-details}}
          {{/each}}

        </tbody>
      </table>
    </div>
  

    <div class="table-content col-6 col-lg-3">
        <table
          class="table table-borded table-responsive table-striped"
          id="table-list"
        >
          <thead class="table-dark">
            <tr>
              <td>Event Type</td>
              <td>Event Name</td>
              <td>Event Date</td>
            </tr>
          </thead>
          <tbody>
            {{#each events as |event|}}
            {{> event-details}}
            {{/each}}

          </tbody>
        </table>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="createeventmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Event</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form createevent-form">
          <div class="form-group">
            <label for="eventname-create">Input Event Name</label>
            <input class="form-input" type="text" id="eventname-create" />
          </div>
          <div class="form-group">
            <label for="eventtype-create">Input Event Type</label>
            <input class="form-input" type="text" id="eventtype-create" />
          </div>
          <div class="form-group">
            <label for="eventDate-create">Input Event Date</label>
            <input class="form-input" type="text" id="eventDate-create" />
          </div>
         
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createplayermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Player</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form createplayer-form">
          <div class="form-group">
            <label for="firstname-create">Input Player First Name</label>
            <input class="form-input" type="text" id="firstname-create" />
          </div>
          <div class="form-group">
            <label for="lastname-create">Input Player Last Name</label>
            <input class="form-input" type="text" id="lastname-create" />
          </div>
          <div class="form-group">
            <label for="birthdate-create">Input Player Birthdate</label>
            <input class="form-input" type="text" id="birthdate-create" />
          </div>
          <div class="form-group">
            <label for="playNum-create">Input Player Number</label>
            <input class="form-input" type="text" id="playNum-create" />
          </div>
          <div class="form-group">
            <label for="playPos-create">Input Player Position</label>
            <input class="form-input" type="text" id="playPos-create" />
          </div>
          <div class="form-group">
            <label for="playNotes-create">Input Player Notes</label>
            <input class="form-input" type="text" id="playNotes-create" />
          </div>
         
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/team-formHandler.js"></script>
